@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');

body { 
    background-color: #FDFDFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 49px;
    margin-top: 49px;
}

.container { 
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.5);    
    width: 80vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

.row { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 2vw;
}

h1{ 
    font-family: 'Lalezar';
    margin: 0;
    letter-spacing: 2px;
    font-weight: 500;
}

input{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #F5F5F5;
    width: 55vw;
    height: 5vh;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

button { 
    width: 55vw;
    height: 6vh;
    border-radius: 30px;
    border: none;
    background-color: #4539AF;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Lalezar'
}

button:hover { 
    cursor: pointer;
    background-color: #362A8C;
}
button:active { 
    background-color: #271F6A;
}
button:focus { 
    outline: none;
}

.option { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}

.home { 
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lalezar';
    gap: 1vh;

}

#options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5vw;

}

#select{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #F5F5F5;
    width: 48vw;
    height: 5vh;
    background-color: #F5F5F5;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

#desc{
    width: 41vw;
}
